body {
    width: 300px;
    border: 5px solid #fcfcfc;
    padding: 10px;
    margin: 0px;
}

.config-item {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    margin: 10px 0px;
}

.config-item>input {
    flex-grow: 1;
    margin-right: 15px;
    display: inline-block;
}

.config-item button {
    cursor: pointer;
    height: 33px;
    line-height: 33px;
}

.config-item>*:nth-child(1) {
    width: 67%;
}

.config-item>*:nth-child(2) {
    width: 33%;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    font-weight: 700;
    color: #a2a2a2;
}

.input-desc {
    border-bottom: 2px solid #a2a2a2;
    height: 33px;
    line-height: 33px;
    font-size: 10px;
    cursor: pointer;
}



#show {
    height: 280px;
    overflow: auto;
}
#show > .item {
    border-radius: 0px;
    background-color: #e8e8e8;
    color: #a2a2a2; 
    font-weight: 700;
    padding: 3px 5px;
    display: flex;
    justify-content: space-between;
    line-height: 25px;
    height: 25px;
    padding-left: 10px;
    margin: 0 0 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#show > .item > span {
    display: inline-block;
    width: 90%;
    overflow: hidden;
    font-size: 14px;
}
#show::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#show button {
    background-color: #ffffff00;
    padding: 0px 10px;
}
#show .loading {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #a2a2a2;
}
#show .completed {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #a2a2a2;
    margin: 0 0;
}
.del {
    float: right;
    border: none;
    cursor: pointer;
}


.rule-info {
    color: #3c3c3c;
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
    height: 34px;
    align-items: center;
}

.rule-info #import,
#export,
#search-rule {
    cursor: pointer;
}

h2 {
    background: #fff;
    padding: 5px;
    color: #777777;
    text-shadow: 3px 3px #cfcfcf;
}

.custom-button {
    border: unset;
    border-radius: 2px;
    color: #777777;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    transition: all 250ms;
    overflow: hidden;
    font-size: 13px;
    padding: 0px 15px;
}

.custom-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 2px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

.custom-button:hover {
    color: #e8e8e8;
}

.custom-button:hover::before {
    width: 100%;
}


input {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    background: #e8e8e8;

    border: none;
    border-radius: 5px;
    transition: all .5s;
}

input:focus {
    background: #e8e8e8;
    box-shadow: inset 5px 5px 17px #c8c8c8,
        inset -5px -5px 17px #ffffff;
}

#search {
    /* display: flex;*/
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    background-color: #e8e8e8;
    height: 30px;
    padding-left: 5px;
}

#search>input {
    display: inline-block;
    border-radius: 5px;
    height: 16px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid #a2a2a2;
    transition: all .5s;
    flex-grow: 1;
    border: none;
}

#tis,
.operation {
    white-space: nowrap;
    /*文本无法选中*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-btn {
    cursor: pointer;
    font-size: 12px;
    padding: 0 15px;
    font-weight: bold;
    color: #777777;
}